@import "font.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

footer {
    margin-top: 50px;
    clear: both;
}

@media (min-width: 992px) {
    .navbarmy .nav-item {
        border-radius: 10px;
        margin-left: 4px;
    }
}

@media (max-width: 991px) {
    .navbar-brand {
        margin-right: 0 !important;
        /*background: none;*/
        /*border: 0;*/
        /*box-sizing: border-box;*/
        /*box-shadow: inset 0 0 0 1px #383B3F;*/
        /*font-size: inherit;*/
        /*padding: 0.2em 0.5em;*/
        /*text-align: center;*/
        /*text-transform: capitalize;*/
        /*vertical-align: middle;*/
    }

    /*.draw {*/
    /*    overflow: hidden;*/
    /*    position: relative;*/
    /*}*/

    /*.draw::before, .draw::after {*/
    /*    content: '';*/
    /*    box-sizing: border-box;*/
    /*    position: absolute;*/
    /*    border: 1px solid transparent;*/
    /*    width: 0;*/
    /*    height: 0;*/
    /*}*/

    /*.draw::before {*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    border-top-color: #666D77;*/
    /*    border-right-color: #666D77;*/
    /*    animation: border 2s infinite;*/
    /*}*/

    /*.draw::after {*/
    /*    bottom: 0;*/
    /*    right: 0;*/
    /*    animation: border 2s 1s infinite, borderColor 2s 1s infinite;*/
    /*}*/

    /*@keyframes border {*/
    /*    0% {*/
    /*        width: 0;*/
    /*        height: 0;*/
    /*    }*/
    /*    25% {*/
    /*        width: 100%;*/
    /*        height: 0;*/
    /*    }*/
    /*    50% {*/
    /*        width: 100%;*/
    /*        height: 100%;*/
    /*    }*/
    /*    100% {*/
    /*        width: 100%;*/
    /*        height: 100%;*/
    /*    }*/
    /*}*/
    /*@keyframes borderColor {*/
    /*    0% {*/
    /*        border-bottom-color: #666D77;*/
    /*        border-left-color: #666D77;*/
    /*    }*/
    /*    50% {*/
    /*        border-bottom-color: #666D77;*/
    /*        border-left-color: #666D77;*/
    /*    }*/
    /*    51% {*/
    /*        border-bottom-color: transparent;*/
    /*        border-left-color: transparent;*/
    /*    }*/
    /*    100% {*/
    /*        border-bottom-color: transparent;*/
    /*        border-left-color: transparent;*/
    /*    }*/
    /*}*/
}

@media (min-width: 768px) {
    .button_head a {
        margin-top: 0.25rem;
    }
    .notes .gallery img {
        max-width: 550px;
    }
    .notes .small_img img {
        max-width: 400px;
    }
}

/*---Переопределям размеры шрифтов*/
h1 { font-size: 2.5rem !important; }
h2 { font-size: 2rem !important; }
h3 { font-size: 1.75rem !important; }
h4 { font-size: 1.5rem !important; }
h5 { font-size: 1.25rem !important; }
h6 { font-size: 1rem !important; }

body {
    font-size: 1.2rem !important;
}

.navbar-brand {
    font-size: 1.5rem !important;
}

.dropdown-menu {
    font-size: 1.2rem !important;
}
/*Переопределям размеры шрифтов---*/
.btn {
    font-size: 1.2rem !important;
}

/*.dropdown-menu[data-bs-popper] {*/
/*  top: calc(100% + var(--#{$prefix}dropdown-spacer));*/
/*  margin-top: 0;*/
/*}*/
/*Ниже представлен простой способ переопределения margin-top для .dropdown-menu.show*/

.dropdown-menu.show{
    margin-top: 0 !important; /*Убираем отступ, который добавляется к анимации через jquery*/
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#bd-theme {
    border-radius: 10px;
}

.my_hr_navbar {
    margin: 0.9rem 0;
}

.my_navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card_sig_model {
    border: 1px solid #7F7F7F !important;
    border-radius: 5px !important;
    padding-right: 7px !important;
}

.card_sig_model:active {
    outline: 4px solid rgba(0, 0, 0, 0.2);
    /*  box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.3);*/
}

.card_sig_model div img {
    border-radius: 5px;
}

.gallery a {
    text-decoration: none;
}

.my_accordion_button{
    font-size: 1.2rem !important;
    font-weight: 500;
}

.card_my {
    border: 1px solid #7F7F7F !important;
}

.card_div_img {
    border-radius: 5px;
    /*background: #FFF;*/
    text-align: center;
    margin: 5px 5px;
}

.card_div_img.index img {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    object-fit: contain;
    max-height: 300px;
}

.card_div_img.oldcarmulti {
    background: #FFF;
}

.card_div_img.oldcarmulti img {
    border-radius: 5px;
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 220px;
}

.card_div_img.carkey img {
    border-radius: 5px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card_div_img.blades {
    background: #FFF;
}

.card_div_img.blades img {
    border-radius: 5px;
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 350px;
}

.card-body p {
    margin: 0;
}

.div_card_btn {
    text-align: center;
}

.card_my_btn {
    margin-top: 1em;
    margin-left: auto !important;
    margin-right: auto !important;
}

.accordion_mb {
    margin-bottom: 1em;
}

.accordion-item {
    border: 1px solid #7F7F7F !important;
}

.accordion-item:not(:first-of-type) {
    border-top: 0 !important;
}

.card-title {
    text-align: center;
}

.card_prof {
    text-align: center;
    font-size: 2.5rem;
    color: #BB2D3B;
}

.gallery {
    text-align: center;
}

/*Кнопка наверх --------------*/
.btn-up {
  z-index: 9999;
  position: fixed; /* фиксированная позиция */
  background-color: #0D6EFD; /* цвет заднего фона */
  left: 20px; /* расстояние от правого края */
  bottom: -1px; /* расстояние от нижнего края */
  border-top-left-radius: 8px; /* скругление верхнего левого угла */
  border-top-right-radius: 8px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: flex; /* не отображать элемент */
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  width: 60px;
  height: 50px;
  opacity: 1;
  transform: translateY(0);
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
  transform: translateY(100px);
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #0B5ED7; /* цвет заднего фона при наведении */
  }
}
/*-------------- Кнопка наверх*/

.info-text-danger{
    color: #BB2D3B;
}

.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}