{% for el in data %}
    <div class="col col_my">
        <div class="card card_my h-100">
            <div class="card_div_img carkey"><img src="/static/article/carkey/{{ el.cat }}/{{ el.subcat }}/{{ el.header }}/{{ el.cat }}_{{ el.subcat }}_{{ el.header }}.jpg" alt=""></div>
            <div class="card-body">
                <h3 class="card-title">{{ el.cat }} {{ el.subcat }} ({{ el.header }} г.)</h3>
                <div class="div_card_btn"><a href="/carkey/{{ el.cat }}/{{ el.subcat }}/{{ el.header }}" class="btn btn-primary btn-lg card_my_btn">Смотреть</a></div>
            </div>
        </div>
    </div>
{% endfor %}