{% for el in data %}
    <div class="col col_my" id="scroll_{{ el.cat }}">
        <div class="card card_my h-100">
            <div class="card_div_img blades gallery">
                <a href="/static/article/carkey/blades/{{ el.cat }}.jpg" data-caption="{{ el.cat }}">
                    <img src="/static/article/carkey/blades/{{ el.cat }}.jpg" alt="">
                </a>
            </div>
            <div class="card-body text-center">
                <p>Обозначение: {{ el.subcat }}</p>
                <p>Бренд: <strong>{{ el.header }}</strong></p>
            </div>
        </div>
    </div>
{% endfor %}